*.err
*.out
*.log
file[0-9].*
file[0-9][0-9].*
# some job examples create a pseudo data file and root files for output results
random_pseudo.data
na49.root
hsimple.root
fillrandom.root
# intermid-files created by condor_submit_dag
job.dag.*
#
# A list of pseudo input files for jobu submission tests
# To create these files: ./create_input.sh 
multiple_jobs/file2.in
multiple_jobs/file0.in
multiple_jobs/file1.in
multiple_jobs/many_input_files/file0.in
multiple_jobs/many_input_files/file1.in
multiple_jobs/many_input_files/file2.in
multiple_jobs/many_input_files/file3.in
multiple_jobs/many_input_files/file4.in
multiple_jobs/many_input_files/file5.in
multiple_jobs/many_input_files/file6.in
multiple_jobs/many_input_files/file7.in
multiple_jobs/many_input_files/file8.in
multiple_jobs/many_input_files/file9.in
multiple_jobs/many_input_files/file10.in
multiple_jobs/many_input_files/file11.in
multiple_jobs/many_input_files/file12.in
multiple_jobs/many_input_files/file13.in
multiple_jobs/many_input_files/file14.in
multiple_jobs/many_input_files/file15.in
multiple_jobs/many_input_files/file16.in
multiple_jobs/many_input_files/file17.in
multiple_jobs/many_input_files/file18.in
multiple_jobs/many_input_files/file19.in
multiple_jobs/many_input_files/file20.in
multiple_jobs/many_input_files/file21.in
multiple_jobs/many_input_files/file22.in
multiple_jobs/many_input_files/file23.in
multiple_jobs/many_input_files/file24.in
multiple_jobs/many_input_files/file25.in
multiple_jobs/many_input_files/file26.in
multiple_jobs/many_input_files/file27.in
multiple_jobs/many_input_files/file28.in
multiple_jobs/many_input_files/file29.in
multiple_jobs/many_input_files/file30.in
multiple_jobs/many_input_files/file31.in
multiple_jobs/many_input_files/file32.in
multiple_jobs/many_input_files/file33.in
multiple_jobs/many_input_files/file34.in
multiple_jobs/many_input_files/file35.in
multiple_jobs/many_input_files/file36.in
multiple_jobs/many_input_files/file37.in
multiple_jobs/many_input_files/file38.in
multiple_jobs/many_input_files/file39.in
multiple_jobs/many_input_files/file40.in
multiple_jobs/many_input_files/file41.in
multiple_jobs/many_input_files/file42.in
multiple_jobs/many_input_files/file43.in
multiple_jobs/many_input_files/file44.in
multiple_jobs/many_input_files/file45.in
multiple_jobs/many_input_files/file46.in
multiple_jobs/many_input_files/file47.in
multiple_jobs/many_input_files/file48.in
multiple_jobs/many_input_files/file49.in
multiple_jobs/many_input_files/file50.in
multiple_jobs/many_input_files/file51.in
multiple_jobs/many_input_files/file52.in
multiple_jobs/many_input_files/file53.in
multiple_jobs/many_input_files/file54.in
multiple_jobs/many_input_files/file55.in
multiple_jobs/many_input_files/file56.in
multiple_jobs/many_input_files/file57.in
multiple_jobs/many_input_files/file58.in
multiple_jobs/many_input_files/file59.in
multiple_jobs/many_input_files/file60.in
multiple_jobs/many_input_files/file61.in
multiple_jobs/many_input_files/file62.in
multiple_jobs/many_input_files/file63.in
multiple_jobs/many_input_files/file64.in
multiple_jobs/many_input_files/file65.in
multiple_jobs/many_input_files/file66.in
multiple_jobs/many_input_files/file67.in
multiple_jobs/many_input_files/file68.in
multiple_jobs/many_input_files/file69.in
multiple_jobs/many_input_files/file70.in
multiple_jobs/many_input_files/file71.in
multiple_jobs/many_input_files/file72.in
multiple_jobs/many_input_files/file73.in
multiple_jobs/many_input_files/file74.in
multiple_jobs/many_input_files/file75.in
multiple_jobs/many_input_files/file76.in
multiple_jobs/many_input_files/file77.in
multiple_jobs/many_input_files/file78.in
multiple_jobs/many_input_files/file79.in
multiple_jobs/many_input_files/file80.in
multiple_jobs/many_input_files/file81.in
multiple_jobs/many_input_files/file82.in
multiple_jobs/many_input_files/file83.in
multiple_jobs/many_input_files/file84.in
multiple_jobs/many_input_files/file85.in
multiple_jobs/many_input_files/file86.in
multiple_jobs/many_input_files/file87.in
multiple_jobs/many_input_files/file88.in
multiple_jobs/many_input_files/file89.in
multiple_jobs/many_input_files/file90.in
multiple_jobs/many_input_files/file91.in
multiple_jobs/many_input_files/file92.in
multiple_jobs/many_input_files/file93.in
multiple_jobs/many_input_files/file94.in
multiple_jobs/many_input_files/file95.in
multiple_jobs/many_input_files/file96.in
multiple_jobs/many_input_files/file97.in
multiple_jobs/many_input_files/file98.in
multiple_jobs/many_input_files/file99.in
organize_jobs_1/input/file0.in
organize_jobs_1/input/file1.in
organize_jobs_1/input/file2.in
organize_jobs_2/0/file.in
organize_jobs_2/1/file.in
organize_jobs_2/2/file.in
